/* General Styles */
.main-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.firsttwo, .secondtwo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.dark-arrow {
    background-color: white;
    color: black;
    padding: 8.5px;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bolder;
}

.img2, .img3 {
    color: white;
    background-color: black;
}

.titles h4 {
    font-weight: 500;
}

.img1 img, .img2 img, .img3 img, .img4 img {
    width: 240px;
    height: 240px;
    margin: 5px;
    position: relative;
}

.img4 h4 {
    color: black;
}

.img4 {
    background-color: white;
}

.linkage {
    position: absolute;
    bottom: 50px;
    left: 50px;
    text-decoration: none;
}

.img1, .img2, .img3, .img4 {
    position: relative;
    padding: 50px;
    margin: 15px;
    width: 100%; /* Ensure full width on smaller screens */
    max-width: 480px; /* Limit width on larger screens */
    height: auto; /* Maintain aspect ratio */
    display: flex;
    border-radius: 30px;
    border-bottom: solid black 5px;
    border-left: solid black 1px;
    border-right: solid black 1px;
    border-top: solid black 1px;
}

.img1 {
    background-color: white;
    color: black;
}

.img2 img, .img3 img {
    margin-left: 0px;
}

.img1 h4 {
    font-size: 26px;
    bottom: 30px;
    position: relative;
}

.serviceintro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.titles {
    position: relative;
    max-width: 100%; /* Ensure full width on smaller screens */
}

.serviceintro .h1tag {
    font-size: 70px;
    font-weight: 500;
    color: black;
   
}

.serviceintro p {
    font-size: 20px;
   
}

/* Media Queries */
@media (max-width: 768px) {
    .serviceintro {
        flex-direction: column;
        align-items: center; /* Center align */
        width: 100%;
        text-align: center;
    }

    .serviceintro .h1tag {
        font-size: 36px;
        margin-left: 0;
        text-align: center; /* Center text */
    }

    .serviceintro p {
        font-size: 16px;
        text-align: center; /* Center text */
    }

    .img1, .img2, .img3, .img4 {
        padding: 20px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        width: 100%; /* Ensure full width on smaller screens */
        max-width: none; /* Remove max width */
    }
    .img1 img, .img2 img, .img3 img, .img4 img {
        width: 150px;
        height:150px;
        margin: 5px;
        left: 30%;
        top: -60px;
        position: relative;
    }
    
    
}
