/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:rgb(255, 255, 255);
  padding: 10px 20px;
  position: relative;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  max-width: 50px;
  margin-right: 10px;
}

.hamburger-menu {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: #050505;
  cursor: pointer;
}

.navbar-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.navbar-links {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-links li {
  margin: 0 15px;
}

.navbar-links a {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  color: #000000;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

.navbar-links a::before, .navbar-links a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  left: 0;
  transition: all 0.3s ease;
  opacity: 0;
}

.navbar-links a::before {
  top: 0;
  transform: translateY(-5px);
}

.navbar-links a::after {
  bottom: 0;
  transform: translateY(5px);
}

.navbar-links a:hover {
  color: #ffbf00; /* Change the color */
  text-shadow: 0 0 10px #ffbf00;
  transform: translateY(10px);
}

.navbar-links a:hover::before, .navbar-links a:hover::after {
  transform: translateY(0);
  opacity: 1;
}

.navbar-links a:hover::before {
  animation: slide-in-left 0.3s forwards;
}

.navbar-links a:hover::after {
  animation: slide-in-right 0.3s 

}

.contact-button {
  margin-left: 20px;
  padding: 15px 30px;
  background-color: #000000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;

}

.contact-button:hover {
  background-color: #f0faff;
  color: black;
}

/* Media Queries */
@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }

  .navbar-links-container {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    width: 100%;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .navbar-links-container.open {
    display: flex;
  }

  .navbar-links {
    flex-direction: column;
  }

  .navbar-links li {
    margin: 10px 0;
  }

  .contact-button {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (min-width: 769px) {
  .navbar-links-container {
    display: flex !important;
  }

  .navbar-links-container.open {
    display: flex !important;
  }
}
